.fa-github {
  margin-right: 10px;
}

.fa-stack-overflow {
  margin-right: 10px;
}

.fa-youtube {
  margin-right: 10px;
}

.fa-user-astronaut {
  margin-right: 10px;
}

.fa-envelope {
  margin-right: 10px;
}

.find-me-online {
  color: #ffffff;
  text-align: center;
  margin-top: -20px;
  margin-bottom: 30px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

html {
  background-color: #23272a;
}

.div-whoami {
  font-family: "Noto Sans", sans-serif;
}

h1 {
  color: #ffffff;
  font-size: 48px;
  text-align: center;
}

p {
  color: #ffffff;
  text-align: center;
  margin-top: -20px;
  margin-bottom: 50px;
}

.div-myskills {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  font-family: "Noto Sans", sans-serif;
}

.div-myskills-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
