html {
  background-color: #282828;
  margin: 0;
  padding: 0;
  overflow-x: none;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: none;
}

#flex-frame {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
}

#flex-introduction,
#flex-programs,
#flex-aboutme {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 48px;
  color: #689d6a;
  align-self: center;
}

h2 {
  font-size: 28px;
  color: #8ec07c;
  margin: 0;
  align-self: center;
}

h3 {
  color: #a89984;
}

p {
  color: white;
  font-size: 15px;
}

a {
  text-decoration: none;
}
